/*----------------------------------------------
		OWL Visual Notation
----------------------------------------------*/
img { border: none;}
.hidden { display:none;}
.clear {clear:both;}
iframe {border:none;}
a {text-decoration: none; color: #3155CC;}
a:hover {text-decoration: underline;}
hr {border-style: solid none none; border-width: 1px; border-color: #4f81bd; height: 1px;}
/*----------------------------------------------
		LAYOUT
----------------------------------------------*/
body{
	margin:0;
	padding:0;
	font-size:14px;
	background:#f5f6f7;
	font-family: Helvetica, Arial, sans-serif;
}
#wrapper{ margin:0 auto; width:80%;}
#wrapper h2 { 
	font-size: 1.3em; 
	font-weight: normal; 
	display: block;
	margin-top: 1em;
}
#wrapper h2 a { font-size: 0.6em; color: #1448F5;}

header h1 {text-align: left; font-weight: normal;}

#toc ol li {padding:0.2em; font-size: 1.2em;}
#example figure {text-align: center; margin: 2.5em 0;}
#example figure img {width: 80%;}
figure#figIntegrated img {max-width: 863px;}
#example figure figcaption, table caption {margin: 0.3em; font-style: italic; font-size: 1.1em;}

code {
	padding: 10px; 
	border: dotted 2px #4f81bd; 
	display: block; 
	background: #D9EBFA;
}
code span.data {color:red;}
code span.uri  {color:brown;} 
table { border-collapse:collapse; background-color: #fff;font-size: 1em; }
table, td { border: 1px solid #4f81bd; 	padding:0.2em; 	text-align: left; }
.tdCenter {text-align: center;}
table th {
	background-color: #4f81bd;
	color: #FFFFFF;
	font-size: 1.2em;
	padding:5px;
}
footer {text-align: center; margin-top:1.3em;}