<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Vincent Link, Steffen Lohmann, Eduard Marbach, Stefan Negru, Vitalis Wiens"/>
	<meta name="keywords" content="webvowl, vowl, visual notation, web ontology language, owl, rdf, ontology visualization, ontologies, semantic web"/>
	<meta name="description" content="WebVOWL - Web-based Visualization of Ontologies"/>
	<meta name="robots" content="noindex,nofollow"/>
	<!--Maybe this solves the edge problem-->
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, ">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="css/webvowl.css"/>
	<link rel="stylesheet" type="text/css" href="css/webvowl.app.css"/>
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<title>WebVOWL Editor</title>
</head>
<body>

<main>

	<section id="canvasArea">
			<div id="browserCheck" class="hidden">
				WebVOWL does not work properly in Internet Explorer and Microsoft Edge.
				Please use another browser, such as
				<a href="http://www.mozilla.org/firefox/">Mozilla Firefox</a>
				or
				<a href="https://www.google.com/chrome/">Google Chrome</a>,
				to run WebVOWL.
				<label id="killWarning">Hide warning</label>
			</div>

		<div id="logo" class="noselect">
			<!-- build:process -->
				<h2>WebVOWL</h2>
				<div style="height:3px" ></div>
				<h2>Editor <span><%= version %> (beta)</span><br/>
					<span id="modeOfOperationString" style="
							font-size: 0.4em; font-style: italic;">mode of operation</span>
				</h2>
			<!-- /build -->
		</div>
			<div id="loading-info">
				<div id="loading-error" class="hidden">
					<div id="error-info"></div>
					<div id="error-description-button" class="hidden">Show error details</div>
					<div id="error-description-container" class="hidden">
						<pre id="error-description"></pre>
					</div>
				</div>
				<div class="noselect" ><span id="sidebarExpandButton"> > </span></div>

				<div id="loading-progress" class="hidden">
					<span>Loading ontology... </span>
					<div class="spin">&#8635;</div><br>
				</div>
			</div>

		<div id="graph"></div>

		<div class="noselect" >
			<span id="leftSideBarCollapseButton" class="hidden"> > </span>
		</div>
		<div id="containerForLeftSideBar">

			<div id="leftSideBar" >
				<div id="leftSideBarContent" class="hidden">
					<h2 id="leftHeader">Default Element</h2>
					<h3  class=" selectedDefaultElement accordion-trigger noselect accordion-trigger-active" id="defaultClass" title="owl:Class">Class: owl:Class
					</h3>
					<div id="classContainer" class="accordion-container ">
					</div>
					<h3 class="selectedDefaultElement accordion-trigger noselect accordion-trigger-active" title="owl:objectProperty" id="defaultProperty">Property: owl:objectProperty
					</h3>
					<div id="propertyContainer" class="accordion-container ">
					</div>
					<h3 class="selectedDefaultElement accordion-trigger noselect accordion-trigger-active" title="rdfs:Literal" id="defaultDatatype">Datatype: rdfs:Literal
					</h3>
					<div id="datatypeContainer" class="accordion-container ">
					</div>



				</div>
			</div>
		</div>
		<div id="menuContainer" >
			<!--Ontology Menu-->
			<ul id="m_select" class="toolTipMenu noselect">
				<li><a href="#foaf" id="foaf">Friend of a Friend (FOAF) vocabulary</a></li>
				<li><a href="#muto" id="muto">Modular and Unified Tagging Ontology (MUTO)</a></li>
				<li><a href="#personasonto" id="personasonto">Personas Ontology (PersonasOnto)</a></li>
				<li><a href="#goodrelations" id="goodrelations">GoodRelations Vocabulary for E-Commerce</a></li>
				<li><a href="#sioc" id="sioc">SIOC (Semantically-Interlinked Online Communities) Core Ontology</a></li>
				<li><a href="#ontovibe" id="ontovibe">Ontology Visualization Benchmark (OntoViBe)</a></li>
				<li><a href="#empty" id="empty">Create new Ontology (empty)</a></li>

				<!-- build:remove release-->
				<li><a href="#benchmark" id="benchmark">Benchmark Graph for VOWL</a></li>
				<!-- /build -->
				<li class="option" id="converter-option">
					<form class="converter-form" id="iri-converter-form">
						<label for="iri-converter-input">Custom Ontology:</label>
						<input type="text" id="iri-converter-input" placeholder="Enter ontology IRI">
						<button type="submit" id="iri-converter-button" disabled>Visualize</button>
					</form>
					<div class="converter-form">
						<input class="hidden" type="file" id="file-converter-input" autocomplete="off">
						<label class="truncate" id="file-converter-label" for="file-converter-input">Select ontology file</label>
						<button type="submit" id="file-converter-button" disabled>
							Upload
						</button>
					</div>
				</li>
			</ul>
			<!--Export Menu-->
			<ul id="m_export" class="toolTipMenu noselect">
				<li><a href="#" download id="exportTurtle">Export as TTL</a></li>
				<li><a href="#" download id="exportJson">Export as JSON</a></li>
				<li><a href="#" download id="exportSvg">Export as SVG</a></li>
				<li class="option">
					<div>
						<form class="converter-form" id="url-copy-form">
							<label for="exportedUrl">Export as URL:</label>
							<input type="text" id="exportedUrl" placeholder="#">
							<span  id="copyBt" title="Copy to Clipboard">Copy</span>
						</form>
					</div>
				</li>
			</ul>
			<!--&lt;!&ndash;Gravity Menu&ndash;&gt;-->
			<!--<ul id="m_gravity" class="toolTipMenu noselect">-->
				<!--<li class="slideOption" id="classSliderOption"></li>-->
				<!--<li class="slideOption" id="datatypeSliderOption"></li>-->
			<!--</ul>-->
			<!--Filter Menu-->
			<ul id="m_filter" class="toolTipMenu noselect">
				<li class="toggleOption" id="datatypeFilteringOption"></li>
				<li class="toggleOption" id="objectPropertyFilteringOption"></li>
				<li class="toggleOption" id="subclassFilteringOption"></li>
				<li class="toggleOption" id="disjointFilteringOption"></li>
				<li class="toggleOption" id="setOperatorFilteringOption"></li>
				<li class="slideOption" id="nodeDegreeFilteringOption"></li>
			</ul>
			<!--Modes Menu -->
			<ul id="m_modes" class="toolTipMenu noselect">
				<li class="toggleOption" id="editMode"></li>
				<li class="toggleOption" id="dynamicLabelWidth"></li>
				<li class="toggleOption" id="pickAndPinOption"></li>
				<li class="toggleOption" id="nodeScalingOption"></li>
				<li class="toggleOption" id="compactNotationOption"></li>
				<li class="toggleOption" id="colorExternalsOption"></li>
			</ul>
			<!--Config Menu -->
			<ul id="m_config" class="toolTipMenu noselect">
				<li class="toggleOption" id="zoomSliderOption"></li>
				<li class="debugOption toggleOption" id="drawPropertyDraggerOnHover"></li>
				<li class="debugOption toggleOption" id="showDraggerObject"></li>
				<li class="slideOption" id="classSliderOption"></li>
				<li class="slideOption" id="datatypeSliderOption"></li>
				<li class="slideOption"  id="maxLabelWidthSliderOption"></li>
			</ul>
			<!--About Menu-->
			<ul id="m_about" class="toolTipMenu">
				<li class="debugOption"><a href="#" id="showEditorHint" >Editor Hint (Help)</a></li>
				<li><a href="license.txt" target="_blank">MIT License &copy; 2014-2018</a></li>
				<li id="credits" class="option">WebVOWL Developers:<br/>
					Vincent Link, Steffen Lohmann, Eduard Marbach, Stefan Negru, Vitalis Wiens
				</li>
				<!-- build:process -->
				<li><a href="http://vowl.visualdataweb.org/webvowl.html#releases" target="_blank">Version: <%= version %><br/>(release history)</a></li>
				<!-- /build -->
				<li><a href="http://purl.org/vowl/" target="_blank">VOWL Specification &raquo;</a></li>
			</ul>
			<ul id="m_search" class="toolTipMenu">

			</ul>


		</div>

		<div class="noselect" id="swipeBarContainer" >

			<ul  id="menuElementContainer" >
				<li id="c_search" class="inner-addon left-addon">
					<i class="searchIcon" >
						<svg viewBox="0 0 24 24" height="100%" width="100%" style="pointer-events: none; display: block;">
							<g>
								<path style="fill : #666; stroke-width:0;"  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></g></svg>
					</i>
					<input class="searchInputText" type="text" id="search-input-text" placeholder="Search">
				</li>
				<li id="c_locate" >
					<a draggable="false" title="Nothing to locate, enter search term."
						href="#" id="locateSearchResult">&#8982;
					</a>
				</li>
				<li id="c_select"  ><a draggable="false" href="#">Ontology</a></li>
				<li id="c_export"  ><a draggable="false" href="#">Export</a></li>
				<li id="c_filter"  ><a draggable="false" href="#">Filter</a></li>
				<li id="c_modes"   ><a draggable="false" href="#">Modes</a></li>
				<li id="c_reset"   ><a draggable="false" id="reset-button" href="#" type="reset">Reset</a></li>
				<li id="c_pause"   ><a draggable="false" id="pause-button" href="#">Pause</a></li>
				<li id="c_config"  ><a draggable="false" href="#">Options</a>
				<li id="c_about"   ><a draggable="false" href="#">About</a></li>
			</ul>

		</div>
		<div class="noselect" id="scrollRightButton">  </div>
		<div class="noselect" id="scrollLeftButton">  </div>
		<div id="zoomSlider">
			<p class="noselect" id="centerGraphButton">&#8982;</p>
			<p class="noselect" id="zoomInButton">+</p>
			<p class="noselect" id="zoomSliderParagraph" > </p>
			<p class="noselect" id="zoomOutButton">-</p>
		</div>


	</section>
	<aside id="detailsArea" >
		<section id="generalDetailsEdit" class="hidden">
			<h1 id="editHeader" style="font-size: 1.1em;">Editing Options</h1>
			<h3 class="accordion-trigger noselect accordion-trigger-active">Ontology</h3>
			<div>
				<div class="textLineEditWithLabel">
					<form class="converter-form-Editor " id="titleEditForm">
						<label class="EditLabelForInput" id="titleEditor-label" for="titleEditor" title="Ontology title as dc:title">Title:</label>
						<input class="modifiedInputStyle" type="text" id="titleEditor" autocomplete="off" value="">
					</form>
				</div>
				<div class="textLineEditWithLabel">
					<form class="converter-form-Editor " id="iriEditForm">
						<label class="EditLabelForInput" id="iriEditor-label" for="iriEditor">IRI:</label>
						<input type="text" id="iriEditor" autocomplete="off" value="">
					</form>
				</div>
				<div class="textLineEditWithLabel">
					<form class="converter-form-Editor " id="versionEditForm">
						<label class="EditLabelForInput" id="versionEditor-label" for="versionEditor" title="Ontology version number as owl:versionInfo">Version:</label>
						<input type="text" id="versionEditor" value="" autocomplete="off">
					</form>
				</div>
				<div class="textLineEditWithLabel">
					<form class="converter-form-Editor " id="authorsEditForm">
						<label class="EditLabelForInput" id="authorsEditor-label" for="authorsEditor" title="Ontology authors as dc:creator">Authors:</label>
						<input type="text" id="authorsEditor" value="" autocomplete="off">
					</form>
				</div>
				<h4 class="subAccordion accordion-trigger noselect">Prefix</h4>
				<div class="subAccordionDescription" id="containerForPrefixURL">
					<div id="prefixURL_Description">
						<span class="boxed ">Prefix</span>
						<span class="boxed">IRI</span>
					</div>
					<div id="prefixURL_Container"></div>
					<div align="center" id="containerForAddPrefixButton" >
						<span class="roundedButton noselect" id="addPrefixButton">Add Prefix</span>
					</div>
				</div>
			</div>  <!--end of ontology metaData -->

			<h3 class="accordion-trigger noselect">Description</h3>
			<div>
				<textarea rows="4" cols="25" title="Ontology description as dc:description" class="descriptionTextClass" id="descriptionEditor" ></textarea>
			</div>
			<h3 class="accordion-trigger noselect accordion-trigger-active">Selected Element</h3>
			<div>
				<div id="selectedElementProperties" class="hidden">
					<div class="textLineEditWithLabel">
						<form class="converter-form-Editor " id="element_iriEditForm">
							<label class="EditLabelForInput" id="element_iriEditor-label" for="element_iriEditor">IRI:</label>
							<input type="text" id="element_iriEditor" autocomplete="off" value="">
						</form>
					</div>
					<div class="textLineEditWithLabel">
						<form class="converter-form-Editor " id="element_labelEditForm">
							<label class="EditLabelForInput" id="element_labelEditor-label" for="element_labelEditor">Label:</label>
							<input type="text" id="element_labelEditor" autocomplete="off" value="">
						</form>
					</div>
					<div class="textLineEditWithLabel">
						<form class="converter-form-Editor" id="typeEditForm">
							<label class="EditLabelForInput" id="typeEditor-label" for="typeEditor">Type:</label>
							<select id="typeEditor" class="dropdownMenuClass"></select>
						</form>
						<form class="converter-form-Editor" id="typeEditForm_datatype">
							<label class="EditLabelForInput" id="typeEditor_datatype-label" for="typeEditor_datatype">Datatype:</label>
							<select id="typeEditor_datatype" class="dropdownMenuClass"></select>
						</form>

					</div>
					<div class="textLineEditWithLabel" id="property_characteristics_Container"> Characteristics:
						<div id="property_characteristics_Selection" style="padding-top:2px;"> </div>
					</div>

				</div>
				<div id="selectedElementPropertiesEmptyHint">
					Select an element in the visualization.
				</div>
			</div>

		</section>
		<section id="generalDetails" class="hidden">
			<h1 id="title"></h1>
			<span><a id="about" href=""></a></span>
			<h5>Version: <span id="version"></span></h5>
			<h5>Author(s): <span id="authors"></span></h5>
			<h5>
				<label>Language: <select id="language" name="language" size="1"></select></label>
			</h5>
			<h3 class="accordion-trigger noselect accordion-trigger-active">Description</h3>
			<div class="accordion-container scrollable">
				<p id="description"></p>
			</div>
			<h3 class="accordion-trigger noselect">Metadata</h3>
			<div id="ontology-metadata" class="accordion-container"></div>
			<h3 class="accordion-trigger noselect">Statistics</h3>
			<div class="accordion-container">
				<p class="statisticDetails">Classes: <span id="classCount"></span></p>
				<p class="statisticDetails">Object prop.: <span id="objectPropertyCount"></span></p>
				<p class="statisticDetails">Datatype prop.: <span id="datatypePropertyCount"></span></p>
				<div class="small-whitespace-separator"></div>
				<p class="statisticDetails">Individuals: <span id="individualCount"></span></p>
				<div class="small-whitespace-separator"></div>
				<p class="statisticDetails">Nodes: <span id="nodeCount"></span></p>
				<p class="statisticDetails">Edges: <span id="edgeCount"></span></p>
			</div>
			<h3 class="accordion-trigger noselect" id="selection-details-trigger">Selection Details</h3>
			<div class="accordion-container" id="selection-details">
				<div id="classSelectionInformation" class="hidden">
					<p class="propDetails">Name: <span id="name"></span></p>
					<p class="propDetails">Type: <span id="typeNode"></span></p>
					<p class="propDetails">Equiv.: <span id="classEquivUri"></span></p>
					<p class="propDetails">Disjoint: <span id="disjointNodes"></span></p>
					<p class="propDetails">Charac.: <span id="classAttributes"></span></p>
					<p class="propDetails">Individuals: <span id="individuals"></span></p>
					<p class="propDetails">Description: <span id="nodeDescription"></span></p>
					<p class="propDetails">Comment: <span id="nodeComment"></span></p>
				</div>
				<div id="propertySelectionInformation" class="hidden">
					<p class="propDetails">Name: <span id="propname"></span></p>
					<p class="propDetails">Type: <span id="typeProp"></span></p>
					<p id="inverse" class="propDetails">Inverse: <span></span></p>
					<p class="propDetails">Domain: <span id="domain"></span></p>
					<p class="propDetails">Range: <span id="range"></span></p>
					<p class="propDetails">Subprop.: <span id="subproperties"></span></p>
					<p class="propDetails">Superprop.: <span id="superproperties"></span></p>
					<p class="propDetails">Equiv.: <span id="propEquivUri"></span></p>
					<p id="infoCardinality" class="propDetails">Cardinality: <span></span></p>
					<p id="minCardinality" class="propDetails">Min. cardinality: <span></span></p>
					<p id="maxCardinality" class="propDetails">Max. cardinality: <span></span></p>
					<p class="propDetails">Charac.: <span id="propAttributes"></span></p>
					<p class="propDetails">Description: <span id="propDescription"></span></p>
					<p class="propDetails">Comment: <span id="propComment"></span></p>
				</div>
				<div id="noSelectionInformation">
					<p><span>Select an element in the visualization.</span></p>
				</div>
			</div>
		</section>
	</aside>
	<div id="darthBane" class="hidden"></div>
	<div id="WarningErrorMessages" class="hidden">
		<div id="WarningErrorMessagesText">
			<div id="WarningErrorMessagesContent"> </div>
		</div>
	</div>

</main>
<script src="js/d3.min.js"></script>
<script src="js/webvowl.js"></script>
<script src="js/webvowl.app.js"></script>
<script>window.onload = webvowl.app().initialize;</script>
</body>
</html>
