<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Vincent Link, Steffen Lohmann, Eduard Marbach, Stefan Negru"/>
	<meta name="keywords"
	      content="webvowl, vowl, visual notation, web ontology language, owl, rdf, ontology visualization, ontologies, semantic web"/>
	<meta name="description" content="WebVOWL - Visualizing Ontologies with VOWL"/>
	<meta name="robots" content="noindex,nofollow"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="css/vowl.css"/>
	<link rel="stylesheet" type="text/css" href="css/toolstyle.css"/>
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<title>WebVOWL</title>
</head>
<body>
<main>
	<section id="canvasArea">
		<div id="graph"></div>
	</section>
	<aside id="detailsArea">
		<section id="generalDetails">
			<h1 id="title"></h1>
			<span><a id="about" href=""></a></span>
			<h5>Version: <span id="version"></span></h5>
			<h5>Author(s): <span id="authors"></span></h5>
			<h3 class="accordion-trigger accordion-trigger-active">Description</h3>
			<div class="accordion-container">
				<p id="description"></p>
			</div>
			<h3 class="accordion-trigger">Statistics</h3>
			<div class="accordion-container">
				<p class="statisticDetails">Classes: <span id="classCount"></span></p>
				<p class="statisticDetails">Properties: <span id="propertyCount"></span></p>
				<div class="small-whitespace-separator"></div>
				<p class="statisticDetails">Nodes: <span id="nodeCount"></span></p>
				<p class="statisticDetails">Edges: <span id="edgeCount"></span></p>
			</div>
			<h3 class="accordion-trigger" id="selection-details-trigger">Selection Details</h3>
			<div class="accordion-container" id="otherDetails">
				<div id="classSelectionInformation" class="hidden">
					<p class="propDetails">Name: <span id="name"></span></p>
					<p class="propDetails">Type: <span id="typeNode"></span></p>
					<p class="propDetails">Equiv.: <span id="classEquivUri"></span></p>
					<p class="propDetails">Disjoint: <span id="disjointNodes"></span></p>
					<p class="propDetails">Charac.: <span id="classAttributes"></span></p>
				</div>
				<div id="propertySelectionInformation" class="hidden">
					<p class="propDetails">Name: <span id="propname"></span></p>
					<p class="propDetails">Type: <span id="typeProp"></span></p>
					<p id="inverse" class="propDetails">Inverse: <span></span></p>
					<p class="propDetails">Domain: <span id="domain"></span></p>
					<p class="propDetails">Range: <span id="range"></span></p>
					<p class="propDetails">Subprop.: <span id="subproperties"></span></p>
					<p class="propDetails">Superprop.: <span id="superproperties"></span></p>
					<p class="propDetails">Equiv.: <span id="propEquivUri"></span></p>
					<p id="infoCardinality" class="propDetails">Cardinality: <span></span></p>
					<p id="minCardinality" class="propDetails">Min. cardinality: <span></span></p>
					<p id="maxCardinality" class="propDetails">Max. cardinality: <span></span></p>
					<p class="propDetails">Charac.: <span id="propAttributes"></span></p>
				</div>
				<div id="noSelectionInformation">
					<p><span>Please select a node or label.</span></p>
				</div>
			</div>
		</section>
	</aside>
	<nav id="optionsArea">
		<ul id="optionsMenu">
			<li id="aboutMenu"><a href="#">About</a>
				<ul class="toolTipMenu aboutMenu">
					<li><a href="license.txt">MIT License Copyright &copy; 2014</a></li>
					<li>WebVOWL Developers:<br/>
						Vincent Link, Steffen Lohmann, Eduard Marbach, Stefan Negru
					</li>
					<li><a href="http://purl.org/vowl/" target="_blank">VOWL Specification &raquo;</a></li>
				</ul>
			</li>
			<li id="pauseOption"></li>
			<li id="resetOption"></li>
			<li id="moduleOption"><a href="#">Modes</a>
				<ul class="toolTipMenu module">
					<li class="toggleOption" id="pickAndPinOption"></li>
				</ul>
			</li>
			<li id="filterOption"><a href="#">Filter</a>
				<ul class="toolTipMenu filter">
					<li class="toggleOption" id="datatypeFilteringOption"></li>
					<li class="toggleOption" id="subclassFilteringOption"></li>
					<li class="toggleOption" id="disjointFilteringOption"></li>
				</ul>
			</li>
			<li id="gravityOption"><a href="#">Gravity</a>
				<ul class="toolTipMenu gravity">
					<li class="slideOption" id="classSliderOption"></li>
					<li class="slideOption" id="datatypeSliderOption"></li>
				</ul>
			</li>
			<li id="export"><a href="#">Export</a>
				<ul class="toolTipMenu export">
					<li><a href="#" download id="exportSvg">Export as SVG</a></li>
				</ul>
			</li>
			<li id="select"><a href="#">Ontology</a>
				<ul class="toolTipMenu select">
					<li><a href="#" id="foaf">Friend of a Friend (FOAF) vocabulary</a></li>
					<li><a href="#" id="muto">Modular and Unified Tagging Ontology (MUTO)</a></li>
					<li><a href="#" id="geonames">Geonames</a></li>
					<li><a href="#" id="marine">Marine</a></li>
					<li><a href="#" id="marine2">Marine2</a></li>
					<li><a href="#" id="personasonto">Personas Ontology (PersonasOnto)</a></li>
					<li><a href="#" id="sioc">Sioc</a></li>
					<li><a href="#" id="benchmarkonto">Benchmark Graph for VOWL</a></li>
					<li><a href="#" id="ontovibe">Big benchmark ontology</a></li>
					<li><a href="#" id="prov">Provenance Ontology</a></li>
					<li><a href="#" id="pizza">Pizza Ontology</a></li>
				</ul>
			</li>
			<li id="logo">
				<!-- build:process --><h2>WebVOWL<span> beta <%= version %> <a href="archive.html">(archive)</a></span></h2><!-- /build -->
			</li>
		</ul>
	</nav>
</main>
<script src="js/d3.min.js"></script>
<script src="js/webvowl.js"></script>
<script src="js/webvowl-app.js"></script>
<!-- build:process --><script>webvowlApp.version = "<%= version %>"</script><!-- /build -->
<script>window.onload = webvowlApp.app().initialize;</script></body>
</html>
